* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vw;
    background: linear-gradient(gray,rgb(228, 228, 228));
}

.page {
    position: relative;
    width: 90%;
    max-width:  135.9vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.page img, .page p, .page a {
    position: absolute;
}

.rectangle-3 {
    top: 20%;
    left: 1vw;
    width: 91.6vw;
}

.logo {
    top: 6vh;
    left: 4vw;
    width: 12v;
    height: auto;
    z-index: 1;
}

.linea {
    top: 0;
    left: 55%;
    width: 10%;
    height: auto;
    z-index: 1;
}

.comp, .sldo {
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 2vw;
    position: absolute;
    z-index: 1;
}

.comp {
    top: 6vh;
    left: 60%;
}

.sldo {
    top: 6vh;
    left: 78%;
}

.search, .cart {
    width: 2%;
    height: auto;
    position: absolute;
    z-index: 1;
}

.search {
    top: 7vh;
    left: 93%;
}

.cart {
    top:7vh;
    left: 98%;
}

.tarjeta {
    top: 12vh;
    left: 30vw;
    width: 40vw;
}

.rectangle-2 {
    top:84vh;
    left: 76.2vw;
    width: 10%;
    height: auto;
    z-index: 1;
}

.logo3 {
    top: 86vh;
    left: 77vw;
    width: 8%;
    height: auto;
    z-index: 1;
}

.Compra {
    font-size: 1.8vw;
    top: 90vh;
    left: 76.8vw;
    width: 10%;
    height: auto;
    z-index: 1;
}

.rectangle-1 {
    top: 20%;
    right: -10vw;
    width: 7.2vw

}

.up, .down {
    width: 3vw;
    height: auto;
    position: absolute;
    z-index: 1;
}

.up {
    top: 5vw;
    right: -8vw;
}

.down {
    bottom: -45vw;
    right: -8vw;
}

.cant {
    font-size: 1.5vw;
    color: white;
    top: 20vh;
    right: -8.2vw;
    width: 3.5vw;
    z-index: 1;
}

.t1, .t2, .t3 {
    font-size: 1em;
    width: 5vw;
    position: absolute;
    z-index: 1;
}

.t1 {
    color: rgb(151, 150, 150);
    top: 35vh;
    right: -9.5vw;
}

.t2 {
    color: white;
    top: 52vh;
    right: -9.5vw;
}

.t3 {
    color: rgb(168, 166, 166);
    top: 70vh;
    right: -9.5vw;
}

.footer {
    font-size: 2em;
    top: 58vh;
    left: 28vw;
    width: 100vh;
    height: 80vh;
    z-index: 1;
}

.footer2 {
    font-size: 1.2em;
    top: 67vh;
    left: 40vw;
    width: 50vw;
    height: 80vh;
    z-index: 1;
}
.footer3 {
    font-size: 1.5em;
    top: 73vh;
    left: 42vw;
    width: 40vw;
    height: 80vh;
    z-index: 1;
}
.footer4{
    border-radius: 10%;
    border: solid rgb(179, 177, 177);
    padding: 1.31746031746031744vh 1.3020833333333333vw 1.31746031746031744vh 5vw;
    font-size: 1.2em;
    top: 82vh;
    width: 15vw;
    left:43.8vw;
    height: 80vh;
    z-index: 1;
}